.swiper-container {
    width: 100%;
    height: 90%;
    color: #fff;
    text-align: center;
    max-height: 90%;
    position: fixed;
    margin: 0;
    z-index: 200;
    top: 10%;
}
.swiper-wrapper{
    width: 100%;
}
.swiper-slide {
    visibility: hidden;
}
.swiper-slide .title {
    font-style: italic;
    font-size: 42px;
    /*margin-top: 80px;*/
    margin-bottom: 0;
    line-height: 45px;
    max-height: 100%;
}
.pagination {
    position: absolute;
    z-index: 400;
    top: 1em;
    display: inline-block;
    left: 50%;
    margin-left: -50px;

}
.swiper-pagination-switch {
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background: none;
    margin-right: 5px;
    opacity: 0.8;
    border: 1px solid #fff;
    cursor: pointer;
}
.swiper-visible-switch {
    background: #aaa;
}
.swiper-active-switch {
    background: #fff;
}

.arrow-left {
    background: url(../pic/arrows.png) no-repeat left top;
    left: 10px;
}
.arrow-right {
    background: url(../pic/arrows.png) no-repeat left bottom;
    right: 10px;
}

.arrow-left, .arrow-right{
    opacity: 0.5;
    top: 50%;
    margin-top: -15px;
    width: 17px;
    height: 30px;
    z-index: 400;
    position: absolute;
}

.arrow-left:hover, .arrow-right:hover{
    opacity: 1;
    transition: all 0.15s ease-out 0.1s;
}